@import "reset";
@import "taskList";
@import "task";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
    width: 100%;
    height: 100%;
}

body {
    background-color: rgb(235, 235, 235);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    padding: 4px 6px;    
    position: relative;
    margin: 0 5px;
}

input[type="radio"] {
    position: absolute;
    appearance: none;
}

.hidden {
    visibility: hidden; 
}

.removed {
    display: none;
}

.selected {
    border-radius: 5px;
    border: 1px solid rgba(255, 0, 0, 0.26);
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 0;

    p {
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 0.8rem;
        color: darkgray;
        margin: 2px 0;
    }
}
